/* .cart-container {
  border: 2px solid red;
  padding: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cart-head {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.cart-head span {
  border-bottom: 1px solid #fff;
  padding-bottom: 5px;
}

.cart-container .cart-body {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 10px;
  border: 2px solid rgb(255, 255, 255);
  padding-right: 20px;
}
.cart-container .cart-body .cart-body-col1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  color: #8f7c7c;
  margin: 10px 0;
  gap: 7px;
  border: 2px solid green;
}

.cart-body-col1 img {
  width: 60px;
  padding: 5px;
  background-color: #fff;
  border-radius: 4px;
}

.cart-body-col2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100px;
} */

.main-cart-container {
  color: #fff;
}

.main-cart-container h2 {
  padding-left: 80px;
}

.cart-page {
  margin: 80px auto;
}

table {
  width: 80%;
  border-collapse: collapse;
  margin: 30px auto;
}
.details-part p {
  color: #5b81b6;
  margin-bottom: 0;
}

.cart-info {
  display: flex;
  flex-wrap: wrap;
}
.cart-info img {
  width: 80px;
  height: 90px;
  margin-right: 10px;
  padding: 3px;
  background-color: white;
  border-radius: 5px;
}

th {
  text-align: left;
  padding: 5px;
  /* background: #2b84ff; */
  border-bottom: 2px solid white;
}
button {
  cursor: pointer;
  margin: 0 5px;
}
td {
  padding: 10px 5px;
}

.cart-bottom-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px auto;
  flex-wrap: wrap;
  width: 80%;
}
.cart-bottom-btns a {
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  font-size: 0.8rem;
  background-color: #2b84ff;
  padding: 10px;
}
.cart-bottom-btns button {
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  font-size: 0.8rem;
  background-color: red;
  outline: none;
  border: none;
  padding: 10px;
}
.cart-bottom-btns button:hover {
  background-color: rgb(188, 28, 28);
}

.cart-bottom-btns a:hover {
  background-color: rgb(65, 106, 230);
}
.total-container {
  background-color: rgb(60, 64, 118);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px 0;
}
.total {
  width: fit-content;
  /* background-color: rgb(60, 64, 118); */
  background-color: #020423;
  border-radius: 5px;
  margin: auto;
  padding: 10px;
  color: #fff;
}
.total p {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.total p span {
  font-weight: bold;
}
.total span {
  color: #2b84ff;
}
.total-container button {
  margin: 30px auto 0;
  background-color: #fff;
  border: none;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 2px;
  font-weight: bold;
}
.total-container button:hover {
  background-color: rgb(201, 199, 199);
  /* color: #2b84ff; */
}

.total-container button .orderplaced {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.orderplaced img {
  height: 20px;
  width: 20px;
}

/* media quiries */
@media (max-width: 548px) {
  .main-cart-container {
    font-size: 15px;
  }

  button {
    cursor: pointer;
    margin: 0;
  }

  .details-part p {
    margin: 0;
    margin-top: 16px;
    width: 105px;
  }
  .cart-bottom-btns a {
    font-size: 10px;
  }
  .cart-bottom-btns button {
    font-size: 10px;
  }
}
@media (max-width: 510px) {
  .main-cart-container {
    font-size: 13px;
  }
  .details-part p {
    margin: 0;
  }
}

@media (max-width: 370px) {
  .cart-info img {
    width: 60px;
    height: 70px;
  }
}
